@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.about_container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  z-index: 999;
}

.about_header {
  position: relative;
  padding: 70px 20px;
  text-align: center;
  background-image: url('../../assets/images/about/airport2.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  animation: moveBackground 2s linear forwards; /* 애니메이션 효과 */
  color: #fff;
}

.about_header h1,
.about_header h2,
.about_header p {
  position: relative;
  z-index: 1;
  color: #212a3e;
  /* color: #394867; */
}

.about_header h1 {
  font-size: 1.5em;
}

.about_header h2 {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 6.5em;
  margin-bottom: 10px;
}

.about_header p {
  font-family: "SpoqaHanSansNeo-Regular";
  margin-top: 10px;
}

@keyframes moveBackground {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.steps_container {
  display: flex;
  justify-content: center;
  /* margin: 20rem 0; */
  flex-wrap: wrap;
  z-index: 999;
  height: calc(100vh - 100px);
}

.intro {
  /* margin: 10% 15%; */
  margin: 0 15%;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: calc(100vh - 100px);
}

.left {
  flex: 1;
  /* width: 500px; */
  margin-right: 20px;
}

.left h2 {
  margin-bottom: 10px;
  font-size: 2.5em;
  padding: 10px;
}

.intro_list p {
  font-family: "SpoqaHanSansNeo-Regular";
  padding: 10px;
  margin: 5% 0;
  font-size: 1.2em;
  line-height: 1.6;
  word-break: keep-all;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  /* max-width: 100%; */
  width: 100%;
  height: 450px;
  object-fit: cover;
  /* border-radius: 70%; */
}

.ourAndFooter_container {
  height: calc(108vh + 100px);
}

.our_container {
  /* height: auto; */
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  align-items: center;
  padding: 50px 50px;
  background-color: #f0f0f0; /* Background color for the section */
  background: linear-gradient(#f2f9fb, #ceeff6, #f3f5f7);
  gap: 40px; /* Add gap between items */
}

/* 스크롤바 스타일링 */
.About div::-webkit-scrollbar {
  width: 12px; /* 스크롤바 너비 */
}

.About div::-webkit-scrollbar-track {
  background: #f1f1f1; /* 트랙 배경색 */
}

.About div::-webkit-scrollbar-thumb {
  background: #d9d9da; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 모서리 */
}

.About div::-webkit-scrollbar-thumb:hover {
  background: #555; /* 스크롤바 호버 색상 */
}
