.AirplainCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 1px solid var(--color-gray);
  border-radius: 12px;
}

.AirplainCard .airplain_card_badge {
  position: absolute;
  top: 10px;
  left: 12px;
  display: inline-block;
  background-color: aqua;
  padding: 0.5rem;
  border-radius: 4px;
}

.AirplainCard .airplain_card_body {
  margin-top: 1rem;
}
