.Diy .diy_cards {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: var(--size-max-width);
}

.Diy .diy_card_thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.pagination_box{
  display: flex;
  justify-content: center;
}
