.container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.order_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.price {
    font-size: 18px;
    margin-bottom: 10px;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quantity_btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.quantity_btn:hover {
    background-color: #0056b3;
}

.quantity span {
    margin: 0 10px;
    font-size: 18px;
}

.total_price {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.total_unit {
    font-size: 16px;
    margin-left: 5px;
}

.buy_btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy_btn:hover {
    background-color: #218838;
}