.board_box {
  position: relative; /* 가상 요소가 부모 요소에 상대적으로 위치하도록 설정 */
  z-index: 0; /* 원래 내용이 가상 요소보다 위에 있도록 설정 */
  padding: 3rem 0;
  /* background-color: #f1e8fe; */
}

.board_box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/images/balloon2.jpg');
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -1;
}

.board {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
  background-color: #fff;
}

.board h2 {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}

.board h2:hover {
  color: #8338ec;
}

.board h2:nth-child(2) {
  padding: 0 1rem;
  border-left: 1px solid #bab8b8;
}

/* 내 게시글 박스 */
.my_board {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_board .sort {
  align-self: end;
}

/* 검색, 작성 버튼 박스 */
.search_create {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.createPostButton {
  height: 36px;
  background-color: #8338ec;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createPostButton:hover {
  opacity: 0.8;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.postItem:hover {
  background-color: #f1f1f1;
}

.postItem h2 {
  font-size: 18px;
  margin: 0;
}

.postItem p {
  font-size: 14px;
  color: #666;
  margin: 5px 0 0 0;
}

.postItem .postMeta {
  display: flex;
  align-items: center;
  gap: 15px;
}

.postItem .postMeta div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postItem .postMeta .icon {
  font-size: 16px;
  color: #666;
}

.postItem .postMeta .commentCount,
.postItem .postMeta .viewCount {
  font-size: 14px;
}

.pagenation_box {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
