.board {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  min-height: 80vh;
}

.board h2 {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}

.board h2:hover {
  color: #8338ec;
}

.board h2:nth-child(2) {
  padding: 0 1rem;
  border-left: 1px solid #bab8b8;
}

/* 내 게시글 박스 */
.my_board {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_board .sort {
  align-self: end;
}

/* 검색, 작성 버튼 박스 */
.search_create {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.createPostButton {
  height: 36px;
  background-color: #8338ec;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createPostButton:hover {
  background-color: #2b124e;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.postItem:hover {
  background-color: #f1f1f1;
}

.postItem h2 {
  font-size: 18px;
  margin: 0;
}

.postItem p {
  font-size: 14px;
  color: #666;
  margin: 5px 0 0 0;
}

.postItem .postMeta {
  display: flex;
  align-items: center;
  gap: 15px;
}

.postItem .postMeta div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postItem .postMeta .icon {
  font-size: 16px;
  color: #666;
}

.postItem .postMeta .commentCount,
.postItem .postMeta .viewCount {
  font-size: 14px;
}

.pagenation_box {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
