.box{
width: 100%;
margin: 1rem;

}

.box h2 {
  margin-top: 1.5rem
}

.box .filter_button{
  margin: 1.5rem 0;
  width: 100px;
  height: 32px;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}

.filter_box {
  margin: 1.5rem 0;
}

.box .back_button {
  margin: 1.5rem 0;
  width: 100px;
  height: 32px;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}


/* 확인 모달창 내부 */
.confirm_modal_inner{
    width: 80%;
      height: 80%;
      margin-top: 5rem;
}

.confirm_modal_inner p {
  margin-top: 2rem;
  text-align: center;
}

.confirm_modal_inner div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.confirm_modal_inner button {
      margin-top: 2rem;
      width: 80px;
      height: 40px;
      border: 1px solid #E0E0E0;
      border-radius: 12px;
}

/* 페이지네이션 위치 */
.pagination_box{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}