.box{
width: 100%;
margin-top: 1rem;

}

.box h2 {
  margin: 1.5rem;
}

.box .filter_button{
  margin: 0 1.5rem;
  width: 100px;
  height: 32px;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}

/* 25개(2개이상)인 td */
.over_liked_package {
  background-color: rgb(227, 248, 255);
}

/* 모달창 내부 폼 스타일 */
.modal_form{
  width: 80%;
  height: 80%;
  margin-top: 1rem;
}

.modal_form label{
  font-weight: bold;
  text-align: center;
}

.modal_form p {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}

.modal_form input {
  width: 78%;
  height: 40px;
  margin-top: 2rem;
  margin-left: 0.8rem;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}

.modal_form .button_box{
  display: flex;
  justify-content: flex-end;
}

.modal_form button{
  margin-top: 4rem;
  width: 80px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}

/* 모달창 내부 텍스트 */
.modal_text_box {
  width: 80%;
  height: 80%;
  margin-top: 2rem;
}

.modal_text_box .detail {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.detail span {
  height: 40px;
  font-weight: bold;
}

.detail p {
  height: 40px;
}

/* 확인 모달창 내부 */
.confirm_modal_inner{
    width: 80%;
      height: 80%;
      margin-top: 5rem;
}

.confirm_modal_inner p {
  margin-top: 2rem;
  text-align: center;
}

.confirm_modal_inner div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.confirm_modal_inner button {
      margin-top: 2rem;
      width: 80px;
      height: 40px;
      border: 1px solid #E0E0E0;
      border-radius: 12px;
}

/* 페이지네이션 위치 */
.pagination_box{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}