.PackageInformation {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  border-bottom: 1px solid #bebebe;
}

.PackageInformation .left_box {
  flex-basis: 50%;
  width: 450px;
  height: 450px;
}

.PackageInformation .left_box img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.PackageInformation .right_box {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 2rem;
  padding: 1rem 0;
}

.PackageInformation .right_box h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #111111;
  line-height: 36px;
  letter-spacing: -1px;
}

.PackageInformation .right_box button:first-child {
  padding: 1rem;
  color: var(--color-white);
  background-color: #e71212;
  width: 50%;
}

.PackageInformation .right_box button:last-child {
  padding: 1rem;
  color: var(--color-white);
  background-color: var(--color-black);
  width: 50%;
}

.icon_information {
  display: flex;
  justify-content: space-between;
}

.icon_information div {
  display: flex;
  align-items: center;
}

.icon_information span {
  margin-left: 8px;
  color: #555;
}

.icon_information .MuiSvgIcon-root {
  color: #007bff;
}

.wished {
  background-color: grey;
}

.PackageInformation .progress {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 0;
}

.PackageInformation .progressBar {
  height: 10px;
  background-color: #93d1ff;
  border-radius: 4px 0 0 4px;
}

.PackageInformation .progressText {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

/* Schedule */
.Schedule {
  padding: 1.75rem;
  margin-top: 0.5rem;
}

.Schedule h3 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: #333;
}

.Schedule h4 {
  position: relative;
  margin: 0.5rem;
  padding-left: 2.75rem;
  font-size: 1.25rem;
  color: #555;
}

.Schedule h4::before {
  background-image: url('../../assets/images/location-dot-solid.png');
  background-size: 14px auto;
  background-position: 6px 2px;
  background-repeat: no-repeat;
  width: 45px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 94%;
  margin-right: 16px;
  content: '';
}

.Schedule ul {
  list-style-type: none;
  padding-left: 0;
}

.dailySchedule {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
  border: 2px solid #93d1ff;
  padding: 1rem;
  border-radius: 1%;
}

.scheduleItem {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Schedule img {
  width: 18rem;
  height: 18rem;
  border-radius: 5%;
}

.dailyDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.Schedule .course_cards {
  position: relative;
  margin: 0;
  padding: 36px 0 36px 48px;
}

.Schedule .course_cards::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 23px;
  border-right: solid 1px #93d1ff;
  content: '';
}

.Schedule .course_cards li {
  background-color: var(--color-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.Schedule .course_cards li div {
  width: 100%;
  height: 100%;
  padding: 0.75rem;
}

.Schedule .course_cards li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.Schedule .course_cards li span {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.Schedule .course_cards li p {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0;
}
