.DiyItem {
  display: flex;
  width: 550px;
  height: 180px;
  border: 1px solid #bebebe;
}

.DiyItem .drag_handle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-right: 1px solid #bebebe;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.DiyItem .drag_handle:hover {
  background-color: lightgrey;
}

.DiyItem .thumnail_image {
  width: 230px;
}

.DiyItem .thumnail_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.DiyItem .description {
  width: 300px;
}

.DiyItem .description input {
  display: block;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #bebebe;
}

.DiyItem .description input:first-child {
  height: 12%;
  margin: 0.75rem auto;
}

.DiyItem .description input:last-child {
  height: 60%;
}
