.DiyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DiyCard.thumnail_image {
  width: 300px;
  height: 200px;
}

.DiyCard.thumnail_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.DiyCardh4 {
  margin: 0.75rem 0;
}
