

/* 나머지 스타일 */
.HomeNavigation {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  width: 100%;
  height: 65px;
  /* background-color는 JavaScript에서 설정합니다. */
  text-align: center;
}

.HomeNavigation ul {
  display: flex;
  list-style: none; /* 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
}

.HomeNavigation li {
  font-size: 1.5rem;
  color: white;
  margin: 0 100px; /* 항목 간 간격 조절 */
  cursor: pointer; /* 마우스 커서 변경 */
}

/* IntroSection 스타일 */
.IntroSection {
  padding: 0 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* 필요에 따라 이미지 중심을 맞춤 */
  height: 70vh;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
}

.navigationButtons button {
  background: rgba(89, 85, 85, 0.5);
  /* border: none; */
  border-radius: 50%;
  color: rgb(230, 221, 221);
  padding: 1rem;
  cursor: pointer;
}

.diyButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.diyButton button {
  /* background: rgba(0, 0, 0, 0.5); */
  font-size: 30px;
  border: none;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

/* PackageSection 스타일 */
.PackageSection {
  margin: 0rem auto;
}

.PackageSection .package_section_cards {
  align-items: center; /* 수직 방향 가운데 정렬 */
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  margin-top: 3rem;
}

.PackageSection .package_title {
  position: relative;
}

/* DiySection 스타일 */
.DiySection {
  padding: 0 3rem 3rem;
}

.DiySection h2 {
  margin-left: 13%;
}

.DiySection .diy_section_cards {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
}

.DiySection .diy_title {
  position: relative;
}

.textButton {
  display: flex;
  justify-content: space-between;
  margin-top: 6.875rem;
}

.textButton_main {
  display: flex;
  justify-content: space-between;
}

.textButton_text {
  flex: left;
}

.textButton_button {
  flex: right;
}

.title {
  flex: 1;
}

.more_button {
  background-color: #fe7171;
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.more_button:hover {
  background-color: #da4242;
  transform: scale(1.1);
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.blank {
  height: 4rem;
}

:root {
  --cards: 4;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#card1 {
  --index: 1;
}

#card2 {
  --index: 2;
}

#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 3rem;
  padding-top: calc(var(--index) * var(--cardTopPadding));
  background-color: white;
}

.card-body {
  box-sizing: border-box;
  border-radius: 50px;
  margin-bottom: 1rem;
  height: var(--cardHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.Home h2 {
  font-size: 2rem;
  margin-bottom: 4.5rem;
}
