/* IntroSection */
.IntroSection {
  padding: 8rem;
  background-color: #d380fd;
}

/* PackageSection */
.PackageSection {
  padding: 3.5rem 3rem 3rem;
}

.PackageSection .package_section_cards {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  margin-top: 3rem;
}

/* DiySection */
.DiySection {
  padding: 3.5rem 3rem 3rem;
}

.DiySection .diy_section_cards {
  margin-top: 3rem;
}
