.searchBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchBox .search_button {
  width: 80px;
  height: 48px;
  background-color: #93d1ff;
  color: #fff;
  border-radius: 12px;
}

.searchBox .search_button:hover {
  background-color: #1976d2;
}

.searchBox ul::-webkit-scrollbar {
  width: 8px;
  background: #f1f1f1;
}

.searchBox ul::-webkit-scrollbar-thumb {
  background: #d2d1d1;
}
