/* 기본 스타일 */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.DiyCreate h3 {
  font-family: 'yg-jalnan';
  font-size: 2.5rem;
  color: #3e3e3e;
}

.DiyCreate h3 > span:nth-child(1) {
  color: #3a86ff;
}

.DiyCreate h3 > span:nth-child(2) {
  color: #8338ec;
}

.DiyCreate h3 > span:nth-child(3) {
  color: #ff006e;
}

.DiyCreate h4 {
  font-family: 'yg-jalnan';
  font-size: 1.5rem;
  color: #3e3e3e;
}

.DiyCreate button {
  font-family: 'yg-jalnan';
  color: white;
  text-align: center;
  border-radius: 12px;
}

.DiyCreate .diy_create_steps {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 4rem 0;
}

.diy_create_steps li {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: inline-block;
  width: 120px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-family: 'yg-jalnan', sans-serif;
  font-size: 1.2rem;
}

/* 각 li 요소의 색상 */
.DiyCreate li:nth-child(1) > a {
  color: #3a86ff;
}

.DiyCreate li:nth-child(2) > a {
  color: #8338ec;
}

.DiyCreate li:nth-child(3) > a {
  color: #ff006e;
}

.diy_create_steps li:nth-child(2) {
  color: #8338ec;
}

.diy_create_steps li:nth-child(3) {
  color: #ff006e;
}

/* 각 li 요소가 active일 때의 색상 */
.diy_create_steps li:nth-child(1).active {
  background-color: #3a86ff;
  color: white;
}

.diy_create_steps li:nth-child(2).active {
  background-color: #8338ec;
  color: white;
}

.diy_create_steps li:nth-child(3).active {
  background-color: #ff006e;
  color: white;
}

.DiyCreate .diy_create_steps .active a {
  color: white;
}

/* 애니메이션 효과 */
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

/* 구체적인 선택자로 우선순위 높이기 */
.diy_create_steps li:nth-child(1) > a.blink {
  animation: blink-effect 1s step-end infinite;
  color: #3a86ff;
}

.diy_create_steps li:nth-child(2) > a.blink {
  animation: blink-effect 1s step-end infinite;
  color: #8338ec;
}

.diy_create_steps li:nth-child(3) > a.blink {
  animation: blink-effect 1s step-end infinite;
  color: #ff006e;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.diyStepsEnter {
  animation: slideInFromTop 0.5s ease-out forwards;
}
