/* DiyCreate */
@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.DiyCreate h3 {
  font-family: 'ONE-Mobile-POP';
  font-size: 2rem;
  color: #3e3e3e;
}

.DiyCreate .diy_create_steps {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 3rem 0;
}

.DiyCreate .diy_create_steps li {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: inline-block;
  width: 120px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-family: 'ONE-Mobile-POP', sans-serif;
  font-size: 1.2rem;
  color: #3e3e3e;
}

.active {
  background-color: #3fa2f6;
  color: white;
}

.active a {
  color: white;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
  color: #3fa2f6;
}

/* 애니메이션 효과 */
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.diyStepsEnter {
  animation: slideInFromTop 0.5s ease-out forwards;
}
