.ProductInformation {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  padding-bottom: 6px;
}

.imageContainer {
  flex: 1;
  max-width: 40%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tag {
  background-color: #ffbe0b78;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  align-self: flex-start;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;

}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
  padding: 15px;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statLabel {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 5px;
}

.statValue {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.fundingAmount,
.fundingPercentage {
  color: #3A86FF;
}

.price {
  color: #45474B;
}

.deadline {
  color: #45474B;
}

.progressBarContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #e0e0e0;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: #3A86FF;
  transition: width 0.3s ease;
}

.actions {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.actionGroup {
  display: flex;
  align-items: center;
}

.likeButton,
.shareButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  color: #666;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.likeButton:hover {
  color: #333;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.likeButton svg,
.shareButton svg {
  margin-right: 5px;
}

.paymentButton {
  background-color: #FE7171;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paymentButton:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.paymentButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}
