.product_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  margin-top: 2.5rem;
}

.latestUpdate {
  margin-top: 2rem;
  padding: 3rem 0;
}

.latestUpdate h2 {
  text-align: center;
}

.filter {
  margin: 2rem 0;
}

/* Search */
.searchContainer {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 auto;
  max-width: 600px;
}

.searchIcon {
  margin-right: 8px;
  color: #757575;
}

.searchInput {
  border: none !important;
  background: transparent;
  outline: none;
  width: 50%;
  padding: 12px 20px;
  font-size: 1rem;
}

.productList {
  margin-top: 20px;
}

.product_cards {
  list-style: none;
  padding: 0;
}

.noResults {
  text-align: center;
  color: #757575;
  font-size: 14px;
}
