.product_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  margin-top: 2.5rem;
}

.latestUpdate {
  margin-top: 5rem;
  padding: 3rem 0;
}

.latestUpdate h2 {
  text-align: center;
}

/* Search */
.filter {
  padding: 3rem 0;
}

.searchBar {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.searchBar input {
  width: 100%;
  margin: 1rem;
  padding: 15px 20px;
  padding-left: 50px;
  border: none;
  background-color: #f0f0f0;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.searchBar::before {
  content: '🔍';
  padding-left: 0.625rem;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.searchBar input::placeholder {
  color: #aaa;
}
