.Mypage {
  display: flex;
  justify-content: center;
  flex-basis: 30%;
  gap: 3rem;
  padding: 2rem 1.75rem;
  min-height: 70vh;
}

.mypage_wrapper {
  flex-basis: 70%;
  padding: 4.5rem 3rem;
  border: 1px solid #95c5f2;
  padding: 2rem;
}

.tableContainer {
  border-radius: 5px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table thead {
  background-color: #f7f7f7;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table th {
  border-bottom: 2px solid #ddd;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.status {
  display: flex;
  gap: 10px;
}

.status span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #5FA8D6;
  /* background-color: #e0f7fa; */
  color: white;
}
.LikeDiyPackage p {
  color: red;
}

/*diy-price 필터버튼 */
.price_list_filter {
  margin-bottom: 1rem;
}

/* diy-price 보기, 제안 받기 버튼, 수락 거절 */
.price_tbody td {
  height: 50px;
}

.watch {
  padding: 0;
}
.accept {
  padding: 0;
  color: #00796b;
  background-color: #e0f7fa;
  padding: 4px 8px;
}

.accept:hover {
  transform: scale(1.05);
}

.suggest_status {
  padding: 4px 8px;
}
