.Mypage {
  display: flex;
  justify-content: center;
  flex-basis: 30%;
  gap: 3rem;
  padding: 2rem 1.75rem;
}

.mypage_wrapper {
  flex-basis: 70%;
  padding: 4.5rem 3rem;
  border: 1px solid #95c5f2;
  padding: 2rem;
}

.tableContainer {
  border-radius: 5px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table thead {
  background-color: #f7f7f7;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table th {
  border-bottom: 2px solid #ddd;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.status {
  display: flex;
  gap: 10px;
}

.status span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #e0f7fa;
  color: #00796b;
}
.LikeDiyPackage p{
  color: red;
}