.Schedule {
  padding: 1.75rem;
  margin-top: 0.5rem;
}

.Schedule h3 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: #333;
}

.Schedule h4 {
  position: relative;
  margin: 0.5rem;
  padding-left: 2.75rem;
  font-size: 1.25rem;
  color: #555;
}

.Schedule h4::before {
  background-image: url('../../../assets/images/location-dot-solid.png');
  background-size: 14px auto;
  background-position: 6px 2px;
  background-repeat: no-repeat;
  width: 45px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 94%;
  margin-right: 16px;
  content: '';
}

.Schedule ul {
  list-style-type: none;
  padding-left: 0;
}

.Schedule .course_cards {
  position: relative;
  margin: 0;
  padding: 36px 0 36px 48px;
  overflow: hidden;
  white-space: nowrap;
}

.Schedule .course_cards::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 23px;
  border-right: solid 1px #ff006e;
  content: '';
}

.Schedule .course_cards li {
  background-color: var(--color-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex: 0 0 auto;
  width: 300px; /* 슬라이드 너비 */
  margin-right: 20px; /* 슬라이드 간 간격 */
  transition: transform 0.5s ease;
}

.course_cards li.active {
  transform: scale(1.1); /* 활성 슬라이드 크기 조정 예시 */
}

.Schedule .course_cards li div {
  width: 100%;
  height: 100%;
  padding: 0.75rem;
}

.Schedule .course_cards li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.Schedule .course_cards li span {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.Schedule .course_cards .course {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0;
}

.Schedule .course_cards .course span {
  display: inline-block;
}

.course span:first-child {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: var(--color-gray);
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.horizontalScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.horizontalScroll:hover,
.horizontalScroll:focus-within {
  overflow-x: auto;
}

.course_cards {
  display: flex;
  padding: 0;
}

.course_card {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.horizontalScroll::-webkit-scrollbar {
  height: 8px;
}

.horizontalScroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.horizontalScroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(254, 113, 113, 0.7);
}

.horizontalScroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
