.ProductCard {
  width: 21.875rem;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.ProductCard.hovered {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heartIcon {
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.heartIcon:hover {
  transform: scale(1.1);
}

.favorited {
  color: #ff6b6b;
}

.likes {
  cursor: pointer;
}

.image {
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.625rem;
}

.content .content_title {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .content_body {
  display: flex;
  align-items: center;
}

.content .content_body p::before {
  content: '|';
  margin: 0 0.25rem;
}

.date {
  color: #666;
  margin: 0.3125rem 0;
}

.price {
  font-size: 1.5rem;
  margin: 0.3125rem 0;
}

.likes {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: #666;
}

.heartIcon {
  color: #ff6b6b;
  font-size: 1rem;
}
