.Airplane {
  display: flex;
  justify-content: center;
}

.Airplane .button {
  background-color: #83e860;
}

.airplane_information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  cursor: pointer;
}

.airplane_information > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
