.airplane_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Airplane {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.Airplane .button {
  width: 60px;
  background-color: #9a73e8;
  color: #fff;
  border-radius: 4px;
}

.Airplane > input {
  border: 1px solid #bebebe;
  border-radius: 4px;
}

.airplane_information {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  cursor: pointer;
  position: relative;
}
/* 가운데 선 */
.airplane_information::before {
  content: '';
  position: absolute;
  top: 48px;
  bottom: 0;
  left: calc(50%);
  width: 1px;

  background-color: #f6f6f6;
}

.airplane_information .searched {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* 선택된 항공편 표시 */
.selected {
  display: flex;
  gap: 1.5rem;
}

.selectedFlight {
  border: 2px solid #ebe1ff;
}

/* 하단 선택된 항공편 박스 */
.selected_box {
  width: 85%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid #ebe1ff;
  border-radius: 12px;
}

.selected_box .selected_flightbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* 가운데 선 */
.selected_flightbox::before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 10px;
  left: calc(50%);
  width: 1px;
  height: 180px;
  background-color: #f6f6f6;
}

/* 일정 링크 버튼 */
.link_schedule {
  background-color: #9a73e8;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 12px;
  align-self: flex-end;
}
