.postList {
  margin-top: 20px;
}

.postTable {
  width: 100%;
  border-collapse: collapse;
}

.postTable th,
.postTable td {
  border: 1px solid #ddd;
  padding: 20px;
}

.postTable th {
  background-color: #f7f1ff;
  text-align: left;
  padding: 10px;
}

.postTable tr:hover {
  background-color: #f7f1ff;
}

.postTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.postTable tr:nth-child(even):hover {
  background-color: #f7f1ff;
}

.postTable td {
  cursor: pointer;
}
