.IntroSection {
  padding: 3.5rem 2rem 7rem 2rem;
  background-color: lightgreen;
}

.IntroSection .intro_section_search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.IntroSection .intro_section_search div {
  background-color: var(--color-white);
}

.IntroSection .intro_section_search button {
  height: 56px;
}
