/* 카드 자동 슬라이더 효과 */
.slider {
    height: 28.125rem;
    margin-bottom: 6.875rem;
    position: relative;
    width: 120%;
    display: grid;
    place-items: center;
    overflow: hidden;
    left: -10%;
  }
  
  .slide-track {
    display: flex;
    width: calc(18.75rem * 12);
    animation: scroll 40s linear infinite; 
  }
  
  .slide-track:hover {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(00);
    }
    100% {
      transform: translateX(calc(-18.75rem * 6));
    }
  }
  
  .slide {
    height: 15.625rem;
    width: 18.75rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    perspective: 6.25rem;
  }
  
  .train-card {
    width: 100%;
    transition: transform 1s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 기본 그림자 */
  }
  
  .train-card:hover {
    transform: translateZ(18px);
  }
  
  /* 슬라이더 그라데이션 그림자 */
  .slider::before,
  .slider::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .review {
    display: flex;
    flex-direction: column;
    align-items: left;
    width:16.875rem;
    height: 22.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 오른쪽 아래 그림자 효과 */

  }
  
  .reviewPhoto {
    height: 12.5rem;
    width: 18.75rem;
    overflow: hidden;
    margin-bottom: 0.3rem;
  }
  
  .reviewPhoto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .reviewText{
    font-size:1rem;
    margin: 0.5rem 0 0.3rem 1rem;
    line-height: 140%;
  }

  .reviewSmallText,
  .reviewNickname{
    font-size:0.8rem;
    color: rgb(144, 142, 142);
  }


  .reviewContent{
    font-size: 1rem;
    color:black;
  }
  .reviewProductName{
    font-size:0.9rem;
    color: rgb(99, 98, 98);
  }