/*  */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.commentBackground {
  background-image: url('../../../assets/images/legoHiker.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  background-position: 0px -1300px;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
  align-items: flex-end; /* 버튼을 아래로 정렬 */
  padding: 0; /* 내부 여백 제거 */
  margin-top: 0; /* 상단 여백 제거 */
  position: relative;
}

.commentText{
  position: absolute;
  font-size: 1.3rem;
  text-shadow: 3px;
  bottom: 80px; 
  left: 520px;
}


.Comment h2 {
  margin-bottom: 3rem;
  font-family: 'DungGeunMo';
}

/* CommentSection.module.css */
.comment_box {
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  width: 332px;
  height: 328px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'DungGeunMo';
}

.comment_contents {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
}

.comment_contents img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment_text {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.comment_details {
  color: #666;
}

.comments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
