/*  */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.Comment {
  font-family: 'DungGeunMo';
}

.starText{
  margin-bottom: 57px;
  font-size: 2.0rem;
}

.slideText{
  margin-bottom: 54px;
  font-size: 2.0rem;
}
.polaroid{
  margin-bottom: 72px;
  font-size: 2.0rem;
}

.commentBackground {
  background-image: url('../../../assets/images/legoHiker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -81.25rem;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  margin-top: 0;
  position: relative;
}

.commentText {
  position: absolute;
  font-size: 1.3rem;
  text-shadow: 3px;
  bottom: 5rem;
  left: 32.5rem;
}

.comment_box {
  margin-top: 0rem;
  position: relative;
  display: inline-block;
  padding: 0rem;
  width: 22.25rem;
  height: 25.5rem;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'DungGeunMo';
  margin-bottom: 2rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.comment_box:hover {
  transform: rotateY(180deg);
}

.comment_contents {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  margin: 1.75rem auto 0.938rem auto;
  overflow: hidden;
}

.comment_contents img {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment_text {
  font-family: 'DungGeunMo';
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: #333;
}

.comment_dsn {
  font-family: 'DungGeunMo';
  font-size: 1.0rem;

}


.comment_date {
  font-family: 'GmarketSansMedium';
  font-size: 0.8rem;
  color: #666;
}

.comment_details {
  color: #666;
  margin: auto 1.75rem auto auto;
  text-align: right;
  font-size: 0.8rem;
  line-height: 1rem;
}

.comments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.front {
  background-color: #fff;
  z-index: 2;
}

.back {
  background-color: #fff;
  transform: rotateY(180deg);
}
.black{
  /* font-family: 'SpoqaHanSansNeo-Regular'!important; */
  width: 18.75rem;
  height: 18.75rem;
  margin: 1.75rem 1.75rem 0 1.75rem;
  position: relative;
  display: inline-block;
  padding: 0rem;
  background:black;
  border: 1px solid #eee;
  border-radius: 1px;
  cursor: pointer;
  font-family: 'DungGeunMo';
  margin-bottom: 2rem;
  color: white;
}

.hover_textTitle {
  margin: 5rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.892);
}
.hover_textStar{
  text-align: center;
  margin-bottom:1.3rem;
  color: rgba(255, 255, 255, 0.892);
  
}

.hover_text {
  margin: 0.5rem 1rem 0 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.892);

}

.hover_textDetail {
  margin: 0.5rem 1rem 1rem 1rem;
  color: rgb(204, 201, 201);
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.892);

}
