/*  */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.commentBackground {
  background-image: url('../../../assets/images/legoHiker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  background-position: 0px -1300px;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
  align-items: flex-end; /* 버튼을 아래로 정렬 */
  padding: 0; /* 내부 여백 제거 */
  margin-top: 0; /* 상단 여백 제거 */
  position: relative;
}

.commentText{
  position: absolute;
  font-size: 1.3rem;
  text-shadow: 3px;
  bottom: 80px; 
  left: 520px;
}

/* 
.Comment h2 {
  margin-bottom: 3rem;
  font-family: 'DungGeunMo';
} */

/* CommentSection.module.css */
.comment_box {
  margin-top: 2rem;
  position: relative;
  display: inline-block;
  padding: 0rem;
  width: 22.25rem;
  height:25.5rem;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'DungGeunMo';
  margin-bottom: 2rem;
}

.comment_contents {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  margin:1.75rem auto 0.938rem auto;
  overflow: hidden;
}

.comment_contents img {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment_text {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

.comment_details {
  color: #666;
  margin: auto 1.75rem auto auto; 
  text-align: right;

}

.comments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hover_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.comment_contents:hover .hover_box {
  opacity: 1;
}

.hover_text {
  margin: 5px 0;
}
