@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.TripCircle {
  display: flex; /* 가로로 배열되도록 설정 */
  flex-wrap: nowrap; /* 요소들이 한 줄에 배치되도록 설정 */
  overflow-x: auto; /* 가로 스크롤 추가 */
  overflow-y: visible; /* 세로 방향으로 overflow가 visible 되도록 설정 */
  position: relative; /* z-index 효과를 위해 상대 위치 설정 */
  height: 24rem;
  place-items: center;
  justify-content: center;
  margin-bottom: 110px;
}


.reviewPhoto {
  height: 16.25rem;
  width: 16.25rem;
  margin-bottom: 0.3rem;
}

.reviewPhoto img {
  border-radius: 8.125rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.reviewText {
  font-size: 1rem;
  margin: 0.5rem 0 0.3rem 1rem;
  line-height: 140%;
  text-align: center;
}

.reviewSmallText {
  font-size: 0.8rem;
  color: rgb(144, 142, 142);
}

.review {
  width: 100%;
  transition: transform 0.3s ease-out; /* 변화를 자연스럽게 하기 위해 transition 추가 */
  border-radius: 10px;
  overflow: visible;
  position: relative; /* z-index 효과를 위해 상대 위치 설정 */
}

.review:hover {
  transform: translateY(-1rem); /* 마우스를 올릴 때 위로 약간 이동하도록 설정 */
  z-index: 1; /* hover 시 다른 요소들 위로 올라오도록 설정 */
}

.review p {
  font-family: 'DungGeunMo';

}
