.notificationContainer {
    position: relative;
    display: inline-block;
}

.notificationButton {
    color: black;
    padding: 16px;
    /* font-size: 10px; */
    border: none;
    cursor: pointer;
    background: none;
    position: relative;
}

.newNotificationDot {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 10px;
    /* background-color: rgb(240, 40, 40); */
    /* border-radius: 50%; */
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.notificationDropdown {
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    right: 0; /* 오른쪽 정렬 */
    border-radius: 5px;
    max-height: 400px; /* 최대 높이 설정 */
    overflow-y: hidden; /* 스크롤 숨기기 */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    cursor: pointer;
    
}

.notificationDropdown:hover {
    overflow-y: auto; /* 마우스 호버 시 스크롤 표시 */
}

.notificationDropdown::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.notificationItem {
    display: flex;
    flex-direction: column;
    align-items: center; /* 아이템 내용과 버튼 모두 수평 가운데 정렬 */
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.notificationItem:hover {
    background-color: #f1f1f1;
}

.noNotifications {
    padding: 12px 16px;
    color: black;
    text-align: center;
}

.checkbox {
    background-color: #8338EC;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 8px; /* 버튼을 내용 아래에 배치 */
}

.checkbox:hover {
    color: red;
    background-color: #f9f9f9;
}