.Avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Avatar .avatar_image {
  width: 32px;
  height: 32px;
}

.Avatar .avatar_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
