/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #007bff;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  --color-dark-gray: #333333;
  --color-border: #dddddd;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.layout {
  width: var(--size-max-width);
  margin: 0 auto;
  padding: 3.5rem 2rem 3rem 2rem;
}
