.container {
  flex: 1;
  max-width: 400px;
  height: 50%;
  margin: 10rem auto 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.message {
  margin-top: 10px;
  color: #ff0000;
}

.form {
  margin-top: 20px;
}

.form_field {
  margin-bottom: 15px;
}

.form_input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form_button:hover {
  background-color: #0056b3;
}
