.Schedule {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.Schedule h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}



.Schedule .course_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.date_and_button{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Schedule li button {
  background-color: #111212;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.Schedule li button:hover {
  background-color: #0056b3;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}

.courses li{
  width: 120px;
}

.images{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}

.images li {
  width: 120px;
  display: flex;
  flex-wrap: wrap;
}
.images img{
  width: 120px;
  height: 120px;
}

/* .map_info{
  width: 100%;
}

.map_info> div{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */